<!DOCTYPE html>
<html>
  <body>
    <h2>Admin Login</h2>

    <form action="/admin/add-login" method="post">
      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" /><br />
      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" /><br><br>
      <button
        type="submit"
        class="form-control btn btn-primary rounded submit px-3"
      >
        Sign In
      </button>
    </form>
  </body>
</html>
